<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
     </head>
    <body>
    <<div class="ui three column relaxed divided grid">
       <div class="ui fixed inverted menu yellow">
           <div class="ui container">
               <div class="header item">
                   <a href="/blogs"/>
                   <i class="bug icon"></i>Blog Site
               </div>
               <a href="/" class="item">Home</a>
               <div class="right menu">
                   <a href="/blogs/login" class="item">Login</a>
                   <a href="/blogs/register" class="item">Register</a>
               </div>
           </div>
       </div>
    </div>
