<% include ./partials/header%>

<div id="new-post-container" class="ui main text container segment">
    <div class="ui huge header">Login</div>
    <form class="ui form" action="/blogs/login" method="post">

        <div class="field">
            <label>Username</label>
            <input name="username" type="text" placeholder="Username" >
        </div>

        <div class="field">
            <label>Password</label>
            <input name="password" type="password" placeholder="Password" >
        </div>
        <input class="ui basic grey button" type="submit">
    </form>
</div>

<% include ./partials/footer%>
